body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
  }
  
  .quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: 700; 
  }
  
  .quicksand-light {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
  }
  
  /* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.custom-scrollbar {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrollbar styles for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.custom-scrollbar:hover {
  scrollbar-color: #555 #f1f1f1;
}

.flashing-dot {
  width: 12px;
  height: 12px;
  background-color: #2ed573;
  border-radius: 50%;
  animation: flash 1s infinite;
  margin-right: 15px;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .responsive-table {
    display: block;
    width: 100%;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
  }

  .responsive-table td {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    padding-left: 50%;
    position: relative;
  }

  .responsive-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .responsive-table {
    display: block;
    width: 100%;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
  }

  .responsive-table td {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    padding-left: 30%;
    position: relative;
  }

  .responsive-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}